<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties>-->
        <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/test?useSSL=true"/>-->
        <!--<property name="username" value="king"/>-->
        <!--<property name="password" value="123456"/>-->
    <!--</properties>-->

    <!--<settings>-->
    <!--<setting name="" value=""/>-->
    <!--</settings>-->

    <!--<typeAliases>-->
        <!--<package name="com.ifan112.demo.sm"/>-->
    <!--</typeAliases>-->

    <!--<typeHandlers>-->
    <!--<typeHandler handler="" javaType="" jdbcType="" />-->
    <!--</typeHandlers>-->

    <!--<plugins>-->
        <!--<plugin interceptor="com.king.demo.mybatis.ExamplePlugin">-->
            <!--<property name="a" value="11" />-->
        <!--</plugin>-->
    <!--</plugins>-->

    <!-- 多环境配置 -->
    <!--<environments default="development">-->

        <!--<environment id="development">-->
            <!--&lt;!&ndash; 事务管理器 &ndash;&gt;-->
            <!--<transactionManager type="JDBC"/>-->
            <!--&lt;!&ndash; 数据源 &ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->

    <!--</environments>-->

    <mappers>
        <!-- 如果想要同时使用Mapper接口、Mapper文件，
             则这里只能添加mapper文件，而不能再添加package节点。
        -->
        <mapper resource="mappers/user-mapper.xml"/>

        <!--<package name="com.king.demo.mybatis.mapper" />-->
    </mappers>

</configuration>